@import 'tailwindcss';

/* tailwindcss utils */
@utility flex-center {
  @apply flex items-center justify-center;
}

:root {
}

[data-theme='dark'],
.dark {
}

/* global styles */
:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
